<ons-page ng-controller="johSectionCtrl">

<ons-toolbar class = "toolbar-header">
  <div class="left">
    <ons-back-button ui-sref="johda.home.partPiste"></ons-back-button>
  </div>
  <div class="toolbar-center center">Terveysliikuntatunti</div>

</ons-toolbar>

<ons-list>
<ons-list-item>
<ons-row>
<b class="par">Kohderyhmänä vähän ja epäsäännöllisesti liikkuvat nuoret ja aikuiset.</b>
</ons-row>
<ons-row>
<i class="par">Esimerkki Pistemestari-terveysliikuntatunnin rakenteesta (60 min.)</i>
</ons-row>
</ons-list-item>
</ons-list>


<ons-list style="background-color:#efefef;">
<ons-list-item>
<ons-row>
<ons-col>
  Alkulämmittely (2-6 liikettä)
</ons-col>
<ons-col width="20%">
  5 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list>
<ons-list-item>
<ons-row>
<ons-col>
  Pistemestari-minipeli (á 3 min, kävelysähly)
</ons-col>
<ons-col width="20%">
  4 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list style="background-color:#efefef;">
<ons-list-item>
<ons-row>
<ons-col>
  Pistemestari-minipeli (á 3 min, kävelysähly)
</ons-col>
<ons-col width="20%">
  4 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list>
<ons-list-item>
<ons-row>
<ons-col>
  Alavartalon avaavat liikkeet (2-4 liikettä)
</ons-col>
<ons-col width="20%">
  5 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list style="background-color:#efefef;">
<ons-list-item>
<ons-row>
<ons-col>
  Pistemestari-minipeli (á 3 min)
</ons-col>
<ons-col width="20%">
  4 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list>
<ons-list-item>
<ons-row>
<ons-col>
  Pistemestari-minipeli (á 3 min)
</ons-col>
<ons-col width="20%">
  4 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list style="background-color:#efefef;">
<ons-list-item>
<ons-row>
<ons-col>
  Pistemestari-minipeli (á 3 min)
</ons-col>
<ons-col width="20%">
  4 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list>
<ons-list-item>
<ons-row>
<ons-col>
  Ylävartalon avaavat liikkeet (2-4 liikettä)
</ons-col>
<ons-col width="20%">
  5 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list style="background-color:#efefef;">
<ons-list-item>
<ons-row>
<ons-col>
  Pistemestari-minipeli (á 3 min)
</ons-col>
<ons-col width="20%">
  4 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list>
<ons-list-item>
<ons-row>
<ons-col>
  Pistemestari-minipeli (á 3 min)
<ons-col width="20%">
  5 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list style="background-color:#efefef;">
<ons-list-item>
<ons-row>
<ons-col>
  Keskivartalon avaavat liikkeet (2-4 liikettä)
</ons-col>
<ons-col width="20%">
  5 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list>
<ons-list-item>
<ons-row>
<ons-col>
  Pistemestari-minipeli (á 3 min)
</ons-col>
<ons-col width="20%">
  4 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>


<ons-list style="background-color:#efefef;">
<ons-list-item>
<ons-row>
<ons-col>
  Pistemestari-minipeli (á 3 min)
</ons-col>
<ons-col width="20%">
  4 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>

<ons-list>
<ons-list-item>
<ons-row>
<ons-col>
  Ala- ja keskivartalon avaavat liikkeet (2-4 liikettä)
</ons-col>
<ons-col width="20%">
  4 min
</ons-col>
</ons-row>
</ons-list-item>
</ons-list>





</ons-page>