<ons-page ng-controller="johSectionCtrl">

<ons-toolbar class = "toolbar-header">
  <div class="left">
    <ons-back-button ui-sref="johda.home.partPiste"></ons-back-button>
  </div>
  <div class="toolbar-center center">Turnauskaaviot</div>

</ons-toolbar>


<ons-list>
<ons-list-header class="turna_header">Yhden kentän turnaukset</ons-list-header>
<ons-list-item class="turna_pdf" style="
    text-align: center;
    font-style: italic;
"><a href="#" onclick="window.open('http://sabamestariadmin.org/data/pdf/Pistemestari-turnauskaavio_12.pdf', '_system');">Pistemestari-turnauskaavio 12 pelaajalle.</a></ons-list-item>
<ons-list-item class="turna_pdf" style="
    text-align: center;
    font-style: italic;
"><a href="#" onclick="window.open('http://sabamestariadmin.org/data/pdf/Pistemestari-turnauskaavio_14.pdf', '_system');">Pistemestari-turnauskaavio 14 pelaajalle.</a></ons-list-item>
<ons-list-item class="turna_pdf" style="
    text-align: center;
    font-style: italic;
"><a href="#" onclick="window.open('http://sabamestariadmin.org/data/pdf/Pistemestari-turnauskaavio_16.pdf', '_system');">Pistemestari-turnauskaavio 16 pelaajalle.</a></ons-list-item>
<ons-list-item class="turna_pdf" style="
    text-align: center;
    font-style: italic;
"><a href="#" onclick="window.open('http://sabamestariadmin.org/data/pdf/Pistemestari-turnauskaavio_18.pdf', '_system');">Pistemestari-turnauskaavio 18 pelaajalle.</a></ons-list-item>
<ons-list-item class="turna_pdf" style="
    text-align: center;
    font-style: italic;
"><a href="#"onclick="window.open('http://sabamestariadmin.org/data/pdf/Pistemestari-turnauskaavio_20.pdf', '_system');">Pistemestari-turnauskaavio 20 pelaajalle.</a></ons-list-item>
</ons-list>

<ons-list>
<ons-list-header class="turna_header">Kahden kentän turnaukset</ons-list-header>
<ons-list-item class="turna_pdf" style="
    text-align: center;
    font-style: italic;
"><a href="#" onclick="window.open('http://sabamestariadmin.org/data/pdf/Pistemestari-turnauskaavio_18B.pdf', '_system');">Pistemestari-turnauskaavio 18 pelaajalle.</a></ons-list-item>
<ons-list-item class="turna_pdf" style="
    text-align: center;
    font-style: italic;
"><a href="#" onclick="window.open('http://sabamestariadmin.org/data/pdf/Pistemestari-turnauskaavio_24.pdf', '_system');">Pistemestari-turnauskaavio 24 pelaajalle.</a></ons-list-item>
<ons-list-item class="turna_pdf" style="
    text-align: center;
    font-style: italic;
"><a href="#" onclick="window.open('http://sabamestariadmin.org/data/pdf/Pistemestari-turnauskaavio_24B.pdf', '_system');">Pistemestari-turnauskaavio 24 pelaajalle.</a></ons-list-item>
<ons-list-item class="turna_pdf" style="
    text-align: center;
    font-style: italic;
"><a href="#" onclick="window.open('http://sabamestariadmin.org/data/pdf/Pistemestari-turnauskaavio_28.pdf', '_system');">Pistemestari-turnauskaavio 28 pelaajalle.</a></ons-list-item>
<ons-list-item class="turna_pdf" style="
    text-align: center;
    font-style: italic;
"><a href="#" onclick="window.open('http://sabamestariadmin.org/data/pdf/Pistemestari-turnauskaavio_32.pdf', '_system');">Pistemestari-turnauskaavio 32 pelaajalle.</a></ons-list-item>
</ons-list>


</ons-page>