<ons-page ng-controller="johSectionCtrl">

<ons-toolbar class = "toolbar-header">
  <div class="left">
    <ons-back-button ui-sref="johda.home.part"></ons-back-button>
  </div>
  <div class="toolbar-center center">Vinkit valmentajalle</div>

</ons-toolbar>

<ul class="list">

  <li class="list__header title">
    1
  </li>
  <li class="list__item">
    <div class="thumbnail_vinki_body">
      Suunnittele ja organisoi harjoitteet ja ryhmäjaot ennakoidun pelaajamäärän mukaan. Valmistaudu myös pelaajamäärämuutoksiin.
    </div>
  </li>

  <li class="list__header title">
    2
  </li>
  <li class="list__item">
    <div class="thumbnail_vinki_body">
      Ole valmis aloittamaan harjoitus ajallaan. Harjoitustunnin aloituksessa (esim. kokoontuminen keskiympyrään) ja lopetuksessa (esim. loppuhuuto) on hyvä pitää kiinni tutuista rutiineista. Tutut elementit luovat turvallisuutta ja yhteisöllisyyttä.
    </div>
  </li>
  
  <li class="list__header title">
    3
  </li>
  <li class="list__item">
    <div class="thumbnail_vinki_body">
      Pyri hyödyntämään koko käytettävissä oleva tila. Vältä jonottamista, hyödynnä yksilö­ ja parityöskentelyä.
    </div>
  </li>
  
  <li class="list__header title">
    4
  </li>
  <li class="list__item">
    <div class="thumbnail_vinki_body">
      Aloita taitojen opettaminen helposta ja etene kohti vaikeampaa. Esim.
    </div>
      <li class="list__item">
        <div class="thumbnail_vinki_body">
          a) syöttöharjoituksia paikaltaan seinää tai kaukalon laitaa vasten,
        </div>
      </li>
      <li class="list__item">
        <div class="thumbnail_vinki_body">
          b) syöttöharjoituksia parin kanssa yhdistettynä omaan liikkeeseen,
        </div>
      </li>
      <li class="list__item">
        <div class="thumbnail_vinki_body">
         c) syöttöharjoituksia omasta liikkeestä liikkuvalle pelaajalle.
        </div>
      </li>
      <li class="list__item">
        <div class="thumbnail_vinki_body">
         Huomioi taitoharjoituksissa pelaajien taitotaso ja valitse sopivan haastavia harjoituksia.
        </div>
      </li>
  </li>
  
  <li class="list__header title">
    5
  </li>
  <li class="list__item">
    <div class="thumbnail_vinki_body">
      Henkilökohtainen palaute on perustaitojen opettamisessa tärkeää. Ohjaajan (tai pelaajan) näyttämä mallisuoritus on yleensä pelkkiä sanallisia ohjeita helppotajuisempi. Huolellinen organisointi mahdollistaa yksilöllisen ohjauksen ilman että koko ryhmän toiminta keskeytyy.
    </div>
  </li>
  
  <li class="list__header title">
    6
  </li>
  <li class="list__item">
    <div class="thumbnail_vinki_body">
      Muista riittävät, laadukkaasti tehdyt toistot. Ne ovat kaiken oppimisen edellytys.
    </div>
  </li>

  <li class="list__header title">
    7
  </li>
  <li class="list__item">
    <div class="thumbnail_vinki_body">
      Kun harjoite on käynnistynyt, arvioi sen toimivuus kussakin ryhmässä. Ole valmis tekemään muutoksia, jos alueen koko, pelaajamäärät tai säännöt sellaisia kaipaavat.
    </div>
  </li>
  
  <li class="list__header title">
    8
  </li>
  <li class="list__item">
    <div class="thumbnail_vinki_body">
      Seuraa harjoitteiden aikana ryhmän keskittymiskykyä ja pidä oikealla hetkellä lyhyt tauko. Tauon aikana voit antaa harjoitukseen liittyviä lisäohjeita (esim. mihin harjoitteessa kannattaa kiinnittää huomiota) ja kannustaa pelaajia tsemppaamaan eteenpäin.
    </div>
  </li>
  
  <li class="list__header title">
    9
  </li>
  <li class="list__item">
    <div class="thumbnail_vinki_body">
      Vahvista lapsen peliminää. Salli hänen käyttää omia vahvuuksiaan, kuten harhauttamista, syöttämistä ja maalintekoa. Pelaajia ei pidä yrittää mahduttaa samaan muottiin.
    </div>
  </li>
  
  <li class="list__header title">
    10
  </li>
  <li class="list__item">
    <div class="thumbnail_vinki_body">
      Luo myönteinen ja muita kunnioittava harjoitusilmapiiri. Anna kannustavaa palautetta hyvästä yrittämisestä. Salli virheet, jotka kuuluvat oleellisesti oppimisprosessiin. Palkitse onnistumisesta sanoin, elein, ilmein ja olantaputuksin.
    </div>
  </li>
  
</ul>

</ons-page>