<ons-page>
	<div style="margin-top: 10px">
		<ons-list modifier="inset">
			<ons-list-item ui-sref ="menu.piste">
				<div class="p_logo">
					<img src="assets/img/pistemestari_logo.png">
					<p>Pistemestari</p>
				</div>
			</ons-list-item>
		</ons-list>
		<ons-list modifier="inset" style="margin-top: 10px">
			<ons-list-item ui-sref ="menu.saba">
				<div class="s_logo">
					<img src="assets/img/new_sabamestari_logo.png">
					<p>Säbämestari</p>
				</div>
			</ons-list-item>
		</ons-list>
	</div>
	
</ons-page>