<ons-page ng-controller="sectionCtrl">

<ons-toolbar class = "toolbar-header">
  <div class="left">
    <ons-back-button ui-sref="saba.home"></ons-back-button>
  </div>
  <div class="toolbar-center center">{{sec.title | limitTo: 20 }} {{sec.title.length < 20 ? '' : '...'}}</div>
  <div class="right">
    <ons-toolbar-button ui-sref="planner.plan">
          <ons-icon icon="fa-list-alt" class="icon">
          </ons-icon>
        </ons-toolbar-button>
  </div>
</ons-toolbar>


<ons-list>
<ons-list-item style="margin-top: 20px">
  <ons-row>
  <ons-col width="66%" align="left">
  <input type="search" class="search-input" ng-model="cardSearch">
  </ons-col>

  <ons-col width="33%" align="right">

  <div class="button-bar diff_switch">
      <div class="button-bar__item">
      <input type="radio" name="segment-a" ng-model="sortorder" value="diff">
      <button class="button-bar__button">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </button>
    </div>
    <div class="button-bar__item">
      <input type="radio" name="segment-a" ng-model="sortorder" value="title" checked>
      <button class="button-bar__button">ABC</button>
    </div>
  </div>

  </ons-col>
  </ons-row>
 </ons-list-item>

 <ons-list-item ng-hide="secid !== '8'">
  <ons-row>
    <ons-col style="line-height: 200%;">
    <p>
      Loppujäähdyttelyssä rauhoitutaan pääharjoituksen jälkeen. Lisäksi palautuminen lähtee paremmin käyntiin. Liikkuvuusharjoitteen aikana voidaan kerrata, mitä päivän harjoituksissa tehtiin, ja kysellä pelaajilta ajatuksia päivän annista.
    </p>
    <b>Loppujäähdyttely koostuu kolmesta osiosta:</b>
    <b>1. Juoksua ja spurtteja (1–2 minuuttia)</b>
    <p>
    Esim. yksi kierros kentän ympäri juosten ja toinen kevyesti hölkäten. Loppuun yksi tai kaksi noin 15 metrin spurttia eteenpäin. Spurteissa liikkeellelähtö äänimerkeistä (esim. hep­huuto, käsien läpsäytys, pilli) tai näköärsykkeestä (esim. käden heilautus).
    </p>
    <b>2. Liikkuvuusharjoite (2–3 minuuttia)</b>
    <p>
    Liikkuvuusharjoitteet vaikuttavat samanaikaisesti useampaan kehon osaan ja edistävät siten kehon eri kudosten palautumista. Harjoitteissa käydään rauhallisesti ääriasennossa, pysytään siinä 2–3 sekuntia ja palataan alkuasentoon.

    Liikkeet toistetaan 2–3 kertaa.
    </p>
    <b>3. Hermotusharjoitus (30–60 sekuntia)</b>
    <p>
    Hermotusharjoitukset tehdään valmentajan antamista äänimerkeistä paikallaan ja mahdollisimman nopealla askeltiheydellä. Esim. ensimmäisestä merkistä tärinäjuoksua, toisesta x­hyppyjä ja seuraavasta kolme hyppyä polvet rintaan. Näin kroppaan jää harjoituksen jälkeen terävä olo.
    </p>
    </ons-col>
  </ons-row>
 </ons-list-item>

  <ons-list-item modifier="chevron" 
                ng-class-odd="'odd'"
                class="list-item-container" 
                ng-repeat="card in cards | filter:cardSearch | orderBy:sortorder"
                ui-sref ="saba.home.sec.card({cId: card.c_id})">
    <ons-row>

      <ons-col width="95px" ng-hide="card.image_dir == ''">
        <img ng-src="{{source}}/{{card.image_name}}"
             fallback-src="http://sabamestariadmin.org/data/{{card.image_name}}"
             class="thumbnail">
      </ons-col>
      <ons-col>
        <div class="name">
          {{ card.title }}
        </div>
        <div class="desc" ng-bind-html="card.body | limitTo:80 | trustedhtml"></div>
        <div class="diff">

          <div ng-if="card.diff == 1 ">
          <i class="fa fa-star"></i>
          </div>

           <div ng-if="card.diff == 2 ">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          </div>

          <div ng-if="card.diff == 3 ">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          </div>
        </div>
      </ons-col>
      <ons-col width="40px"></ons-col>
    </ons-row>
  </ons-list-item>

    <ons-list-item 
                ng-show="{{ cards == undefined }}"
                modifier="chevron" 
                ng-class-odd="'odd'"
                class="list-item-container" 
                ng-repeat="card in backupCards | filter:cardSearch | orderBy:sortorder"
                ui-sref ="saba.home.sec.card({cId: card.c_id})">
    <ons-row>

      <ons-col width="95px" ng-hide="card.image_dir == ''">
        <img ng-src="{{source}}/{{card.image_name}}"
             fallback-src="http://sabamestariadmin.org/data/{{card.image_name}}"
             class="thumbnail">
      </ons-col>
      <ons-col>
        <div class="name">
          {{ card.title }}
        </div>
        <div class="desc" ng-bind-html="card.body | limitTo:80 | trustedhtml"></div>
        <div class="diff">

          <div ng-if="card.diff == 1 ">
          <i class="fa fa-star"></i>
          </div>

           <div ng-if="card.diff == 2 ">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          </div>

          <div ng-if="card.diff == 3 ">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          </div>
        </div>
      </ons-col>
      <ons-col width="40px"></ons-col>
    </ons-row>
  </ons-list-item>

</ons-list>

</ons-page>