<ons-navigator title="Navigator" var="myNavigator">
<ons-page ng-controller="pisteCtrl">

<ons-toolbar class="toolbar-header">
  <div class="left">
    <ons-toolbar-button ng-click="app.menu.toggle()">
      <ons-icon icon="ion-navicon" size="40px" fixed-width="false" class="icon"></ons-icon>
    </ons-toolbar-button>
  </div>
  <div class="toolbar-center center">Pistemestari</div>
  <div class="right">
    <ons-toolbar-button ui-sref="plannerPiste.plan">
          <ons-icon icon="fa-list-alt" class="icon">
          </ons-icon>
        </ons-toolbar-button>
  </div>
</ons-toolbar>

<ons-list style="margin: -1px 0">

  <ons-list-item style="margin-top: 20px">
  <input type="search" class="search-input" ng-model="secSearch"></input>
 </ons-list-item>
 <ons-list-item class="chapter">
  <ons-row align="center">
      <ons-col width="60px">
        <div>
          <img class="thumbnails" src="assets/img/pisteLogo2.png">
        </div>
      </ons-col>
      <ons-col>
        <div class="list-name" ui-sref="piste.home.link">Pistemestari</div>
      </ons-col>
  </ons-row>
</ons-list-item>

  <ons-list-item class="chapter" ng-repeat="p_section in p_sections | filter:secSearch" 
                                 ui-sref="piste.home.sec({pId: p_section.p_id})">
    <ons-row align="center">
      <ons-col width="60px">
        <div>
          <img class="thumbnails" ng-src="cdvfile://localhost/persistent/sabamestari/.images/pistemestari/{{p_section.image_name}}"
                                  fallback-src="http://sabamestariadmin.org/data/{{p_section.image_name}}">
        </div>
      </ons-col>
      <ons-col class="chapter-title">
        <div class="list-name"> {{ p_section.title }} </div>
      </ons-col>
    </ons-row>
  </ons-list-item>


  <ons-list-item class="chapter" 
                 ng-show="{{ p_sections == undefined}}" 
                 ng-repeat="p_section in backupSections | filter:secSearch" 
                 ui-sref="piste.home.sec({pId: p_section.p_id})">
    <ons-row align="center">
      <ons-col width="60px">
        <div>
          <img class="thumbnails" ng-src="http://sabamestariadmin.org/data/{{p_section.image_name}}"
                                  fallback-src="http://sabamestariadmin.org/data/{{p_section.image_name}}">
        </div>
      </ons-col>
      <ons-col class="chapter-title">
        <div class="list-name"> {{ p_section.title }} </div>
      </ons-col>
    </ons-row>
  </ons-list-item>

</ons-list>

</ons-page>
</ons-navigator>


